In [1]:
import os, inspect
import pandas as pd
import numpy as np

In [2]:
pd.read_csv('Lending-company.csv')

,LoanID,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
0,1,LoanID_1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
1,2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
2,3,LoanID_3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
3,4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
4,5,LoanID_5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1038,1039,LoanID_1039,Product B,Male,Location 73,Region 6,17300.0,29/12/2018,2200,45,365,3251,4743,16617,Finished Payment
1039,1040,LoanID_1040,Product A,Male,Location 82,Region 1,NaN,28/03/2018,2200,45,365,4090,5582,16617,Finished Payment
1040,1041,LoanID_1041,Product A,NotSpecified,Location 11,Region 4,17300.0,26/04/2018,2200,45,365,4051,5143,16617,Finished Payment
1041,1042,LoanID_1042,Product B,Female,Location 26,Region 6,16300.0,25/10/2016,1000,45,365,1930,3462,15617,Finished Payment
1042,1043,LoanID_1043,Product A,NotSpecified,Location 94,Region 6,17300.0,15/05/2019,2200,45,365,4451,4743,16617,Finished Payment

In [3]:
pd.read_csv('C:/Users/emirp/OneDrive/Masaüstü/Data_Science/my_codes//training_python/Lending-company.csv')

,LoanID,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
0,1,LoanID_1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
1,2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
2,3,LoanID_3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
3,4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
4,5,LoanID_5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1038,1039,LoanID_1039,Product B,Male,Location 73,Region 6,17300.0,29/12/2018,2200,45,365,3251,4743,16617,Finished Payment
1039,1040,LoanID_1040,Product A,Male,Location 82,Region 1,NaN,28/03/2018,2200,45,365,4090,5582,16617,Finished Payment
1040,1041,LoanID_1041,Product A,NotSpecified,Location 11,Region 4,17300.0,26/04/2018,2200,45,365,4051,5143,16617,Finished Payment
1041,1042,LoanID_1042,Product B,Female,Location 26,Region 6,16300.0,25/10/2016,1000,45,365,1930,3462,15617,Finished Payment
1042,1043,LoanID_1043,Product A,NotSpecified,Location 94,Region 6,17300.0,15/05/2019,2200,45,365,4451,4743,16617,Finished Payment

In [4]:
if '__file__' not in locals():
    fx = inspect.getframeinfo(inspect.currentframe())[0]
else:
    fx = __file__

In [5]:
os_dir = os.path.dirname(os.path.abspath(fx))
print(os_dir)

C:\Users\emirp\AppData\Local\Temp\ipykernel_3620

In [6]:
pd.read_csv(os.path.join(os_dir,"Lending-company.csv"))

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\emirp\\AppData\\Local\\Temp\\ipykernel_3620\\Lending-company.csv'