In [1]:
import pandas as pd
#mathematical and nonmathematical methods
#numerical and non-numerical datas

In [2]:
products = ['A', 'B', 'C', 'D']

In [3]:
type(products)

list

In [4]:
product_categories = pd.Series(products)

In [5]:
type(product_categories)

pandas.core.series.Series

In [6]:
product_categories

0    A
1    B
2    C
3    D
dtype: object

In [7]:
daily_rates_dollars = pd.Series([40, 45, 50, 60])
daily_rates_dollars

0    40
1    45
2    50
3    60
dtype: int64

In [8]:
import numpy as np
#numerical datas
#mathematical methods

In [9]:
array_a = np.array([10, 20, 30, 40, 50])
array_a

array([10, 20, 30, 40, 50])

In [10]:
type(array_a)

numpy.ndarray

In [11]:
series_a = pd.Series(array_a)
series_a

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [12]:
type(series_a)

pandas.core.series.Series

In [13]:
start_date_deposits = pd.Series({
    '07/04/2014' : 2000,
    '01/02/2014' : 2000,
    '12/08/2014' : 1000,
    '02/20/2014' : 2000,
    '10/28/2014' : 2000,
    '04/19/2014' : 2000,
    '07/04/2014' : 2000,
    '04/24/2014' : 2000,
    '09/03/2014' : 4000,
    '07/25/2014' : 2000,
    '05/01/2014' : 2000,
    '03/09/2014' : 2000,
    '10/03/2014' : 2000,
    '09/18/2014' : 2500,
})

In [14]:
start_date_deposits

07/04/2014    2000
01/02/2014    2000
12/08/2014    1000
02/20/2014    2000
10/28/2014    2000
04/19/2014    2000
04/24/2014    2000
09/03/2014    4000
07/25/2014    2000
05/01/2014    2000
03/09/2014    2000
10/03/2014    2000
09/18/2014    2500
dtype: int64

In [15]:
start_date_deposits.sum()

27500

In [16]:
start_date_deposits.min()

1000

In [17]:
start_date_deposits.max()

4000

In [18]:
start_date_deposits.describe()

count      13.000000
mean     2115.384615
std       650.443636
min      1000.000000
25%      2000.000000
50%      2000.000000
75%      2000.000000
max      4000.000000
dtype: float64

In [19]:
start_date_deposits.mean()

2115.3846153846152

In [20]:
start_date_deposits.median()

2000.0

In [21]:
start_date_deposits.idxmax()
#returns the lowest deposits index

'09/03/2014'

In [22]:
start_date_deposits.idxmin()
#returns the highest deposits index

'12/08/2014'

In [23]:
start_date_deposits.head()
#first 5 rows

07/04/2014    2000
01/02/2014    2000
12/08/2014    1000
02/20/2014    2000
10/28/2014    2000
dtype: int64

In [24]:
start_date_deposits.tail()
#last 5 rows

07/25/2014    2000
05/01/2014    2000
03/09/2014    2000
10/03/2014    2000
09/18/2014    2500
dtype: int64

In [25]:
numbers = pd.Series([
    1,
    2,
    2,
    5,
    5,
    5,
    5,
    5,
    6,
    1,
    2,
    3,
    3,
    3,
    10
])

In [26]:
numbers.describe()

count    15.000000
mean      3.866667
std       2.356349
min       1.000000
25%       2.000000
50%       3.000000
75%       5.000000
max      10.000000
dtype: float64

In [27]:
len(numbers)

15

In [28]:
numbers.unique()

array([ 1,  2,  5,  6,  3, 10], dtype=int64)

In [29]:
numbers.nunique()

6

In [30]:
numbers.sort_values()

0      1
9      1
1      2
2      2
10     2
11     3
12     3
13     3
3      5
4      5
5      5
6      5
7      5
8      6
14    10
dtype: int64

In [31]:
numbers.sort_values(ascending=True)

0      1
9      1
1      2
2      2
10     2
11     3
12     3
13     3
3      5
4      5
5      5
6      5
7      5
8      6
14    10
dtype: int64

In [32]:
numbers.sort_values(ascending=False)

14    10
8      6
3      5
4      5
5      5
6      5
7      5
11     3
12     3
13     3
1      2
2      2
10     2
0      1
9      1
dtype: int64